<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeliveryApp</title>
    <link rel="stylesheet" href="static/forgot_password.css">
</head>
<body>

    <div class="Form-box">
        <form action="/forget_pswd" method="post" class="Forget_password-form">
            {% csrf_token %}
            <h1>Set Password</h1>
            <div class="input-box">
                <input type="text" name="emlusnm" required pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/">
                <label>Username</label>
                <ion-icon name="mail-outline"></ion-icon>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
</div>
</body>
</html>