<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capture Photo</title>
    <link rel="stylesheet" href="static/capture_style.css">
</head>

<body>
    <header>
        <div>
            <h1>Delivery App</h1>

        </div>
        <div class="Nav-wrapper">
            <nav>
                <a href="#">Home</a>
                <a href="/capture#user">Capture</a>
                <a href="/">Logout</a>
            </nav>
        </div>

    </header>
    <div id="user">
{% block body %}
            {% endblock %}
    </div>
</body>

</html>